    <div class="grid">
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Actividades del Día</span>
                        <div class="text-900 font-medium text-xl">{{totalActividadesDia}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-purple-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-calendar text-purple-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Actividades Realizadas</span>
                        <div class="text-900 font-medium text-xl">{{totalActividadesRelizadas}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-green-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-thumbs-up text-green-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Actividades Vencidas</span>
                        <div class="text-900 font-medium text-xl">{{totalActividadesVencidas}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-thumbs-down text-orange-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Cumplimiento Mensual</span>
                        <div class="text-900 font-medium text-xl">{{porcentajeCumplimientoMensual}} %</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-chart-line text-blue-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 xl:col-7">
            <div class="card">
                <h5><strong>Actividades del día</strong></h5>
                <p-table [value]="actividadesDia" [paginator]="true" [rows]="5" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="idActividad">Cód.Actividad <p-sortIcon field="idActividad"></p-sortIcon></th>
                            <th pSortableColumn="actividad">Actividad <p-sortIcon field="actividad"></p-sortIcon></th>
                            <th pSortableColumn="asignada">Asignación <p-sortIcon field="asignada"></p-sortIcon></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-actividadesDia>
                        <tr>
                            <td style="width: 35%; min-width: 7rem;">{{actividadesDia.idActividad}}</td>
                            <td style="width: 35%; min-width: 7rem;">{{actividadesDia.nombreActividad}}</td>
                            <td style="width:14%; min-width:10rem;">
                                <span class="p-column-title">Estado</span>
                                <p-tag *ngIf="actividadesDia.asignada==1" value="Asignada" icon="pi pi" severity="success"></p-tag>
                                <p-tag *ngIf="actividadesDia.asignada==0" value="Sin Asignar" icon="pi pi" severity="danger"></p-tag>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="card">
                <h5><strong>Actividades Vencidas</strong></h5>
                <p-table [value]="actividadesVencidas" [paginator]="true" [rows]="5" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="idActividad">Cód.Actividad <p-sortIcon field="idActividad"></p-sortIcon></th>
                            <th pSortableColumn="actividad">Actividad <p-sortIcon field="actividad"></p-sortIcon></th>
                            <th pSortableColumn="asignada">Asignación <p-sortIcon field="asignada"></p-sortIcon></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-actividadesVencidas>
                        <tr>
                            <td style="width: 35%; min-width: 7rem;">{{actividadesVencidas.idActividad}}</td>
                            <td style="width: 35%; min-width: 7rem;">{{actividadesVencidas.nombreActividad}}</td>
                            <td style="width:14%; min-width:10rem;">
                                <span class="p-column-title">Estado</span>
                                <p-tag *ngIf="actividadesVencidas.asignada==1" value="Asignada" icon="pi pi" severity="success"></p-tag>
                                <p-tag *ngIf="actividadesVencidas.asignada==0" value="Sin Asignar" icon="pi pi" severity="danger"></p-tag>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

        </div>

        <div class="col-12 xl:col-5">
            
            <div class="card">
                <h5>Gráfica</h5>
                <p-chart type="doughnut" [data]="chartData" [options]="chartOptions"  ></p-chart>
            </div>
        </div>

    </div>

