<p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
        <div class="my-2">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openAdd()"></button>
        </div>
    </ng-template>
</p-toolbar>


<p-table #dt [value]="lst" [columns]="columnas" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['idArea','descripcion']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedActividades" selectionMode="multiple" [rowHover]="true" dataKey="idActividad">
    <ng-template pTemplate="caption">
        <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Areas</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="idArea">Cód. Area <p-sortIcon field="idArea"></p-sortIcon></th>
            <th pSortableColumn="descripcion">Nombre Área <p-sortIcon field="descripcion"></p-sortIcon></th>


            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-area>
        <tr>
            <td>
                <p-tableCheckbox [value]="actividad"></p-tableCheckbox>
            </td>
            <td style="width:14%; min-width:10rem;"><span class="p-column-title">idArea</span>
                {{area.idArea}}
            </td>
            <td style="width:14%; min-width:10rem;">
                <span class="p-column-title">descripcion</span>
                {{area.descripcion}}
            </td>

            <td >
                <ng-container class="flex">
                    <td>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2 " (click)="openEdit(area)"></button>
                    </td>

                    <td>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteActividades(area)"></button>
                    </td>
                    
                </ng-container>
            </td>

        </tr>
    </ng-template>
    
</p-table>