<mat-dialog-content>
    <h1 mat-dialog-title>Asignar activdad</h1>
    <div class="grid formgrid">
        <div class="col-12 mb-2 lg:col-6 lg:mb-0">
            <h5>Orden de Trabajo</h5>
            <input pInputText type="text" [(ngModel)]="ordenTrabajo" placeholder="Orden de Trabajo"/>
        </div>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <div class="col-12 mb-2 lg:col-6 lg:mb-0">
            <h5>Orden de Trabajo</h5>
            <button mat-raised-button color="primary" (click)="generarOrden()" >Generar Orden</button>
        </div>
    </div>
    <br>
    <div class="grid formgrid">
        <div class="col-12 mb-2 lg:col-6 lg:mb-0">
            <span class="p-float-label">
                <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="lst" [(ngModel)]="idTrabajador"
                    optionLabel="nombre" optionValue="idTrabajador"></p-dropdown>
                <label for="dropdown">Trabajador</label>
            </span>
        </div>
    </div>
    <br>
    <div class="grid formgrid">
        <div class="col-12 mb-2 lg:col-6 lg:mb-0">
            <span class="p-float-label">
                <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="list2" [(ngModel)]="idMaquina"
                    optionLabel="descripcion" optionValue="idMaquina"></p-dropdown>
                <label for="dropdown">Maquina</label>
            </span>
        </div>
    </div>
    <br>
    <div class="grid formgrid">
        <div class="col-12 mb-2 lg:col-6 lg:mb-0">
            <h5>Nombre Actividad</h5>
            <input pInputText type="text" [(ngModel)]="nombreActividad" placeholder="Nombre de Actividad"/>
        </div>
    </div>
    <br>
    <div class="grid formgrid">
        <div class="col-12 mb-2 lg:col-6 lg:mb-0">
            <h5>Núm.Trabajadores Necesarios</h5>
            <input pInputText type="text" [(ngModel)]="recursoHumano" placeholder="Número" />
        </div>
    </div>
    <br>
    <div class="grid formgrid">
        <div class="col-12 mb-2 lg:col-6 lg:mb-0">
            <h5>Tiempo Estimado HRS</h5>
            <input pInputText type="text" [(ngModel)]="tiempo" placeholder="Hrs. en número" />
        </div>
    </div>
    <br>
    <div class="grid formgrid">
        <div class="col-12 mb-2 lg:col-6 lg:mb-0">
            <h5>Periodicidad</h5>
            <input pInputText type="text" [(ngModel)]="periodo" placeholder="Días" />
        </div>
    </div>
    <br>
    <div class="grid formgrid">
        <div class="col-12 mb-2 lg:col-6 lg:mb-0">
            <h5>Descripción</h5>
            <textarea pInputTextarea [(ngModel)]="descripcion"
                placeholder="Ingrese una descripción de la actividad, instrucciones si es necesario" autoResize rows="3"
                cols="30"></textarea>
        </div>      
    </div>  
    <br>
    <div class="grid formgrid">
        <div class="col-12 mb-2 lg:col-12 lg:mb-0">
            <h5>Seleccionar la Fecha</h5>
            <p-calendar [showIcon]="true" [showButtonBar]="true" [(ngModel)]="fechaProgramada"
                placeholder="Fecha Programada" [inline]="true"></p-calendar>
            
        </div>
    </div>
        <div mat-dialog-actions>
    <div class="grid formgrid">
        <div class="col-2 mb-2 lg:col-6 lg:mb-0">
            <button mat-raised-button color="warn" (click)="close()">Cancelar</button>
        </div>
        <div class="col-2 mb-2 lg:col-6 lg:mb-0">
            <button mat-raised-button color="primary" (click)="actividad!=null ? editActividad() :addActividad()" >Guardar</button>
        </div>
    </div>  
</div>
</mat-dialog-content>
